{% extends 'base.html.twig' %}

{% block title %}Nouveau jean{% endblock %}

{% block body %}
    <h1>Créer un jean</h1>

    {{ include('admin_jeans/_form.html.twig') }}

    <a href="{{ path('admin_jeans_index') }}">Retour à la liste</a>
{% endblock %}
