Bonjour,
<br>
Vous venez de créer un compte sur ls-couture.com. Avant de pouvoir passer commande, vous devez 
vérifier que cette adresse e-mail est bien la vôtre en cliquant ici :<a href="{{ signedUrl }}">{{ signedUrl }}</a>

<br>
Cordialement, LS