
#carousel{
    width: 150px;
}
#img{
        width: 100px;
    }

#description{
    width: 70%;
}    
@media only screen and (max-width:650px) {
    
  #titre{
align-items: center;  }
#container{
    display: flex;
    flex-direction: column;
}

#description{
    width: 100%;
}   
}

