*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

.footer{
position: relative;
top: 500px;
bottom: auto;

}

@media only screen and (max-width:1100px) {
   a.nav-link.text-reset{
    font-size: 30px;
    display: flex;
    justify-content: center;

   }
  }