*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

.footer{
position: relative;
top: 500px;
bottom: auto;
background-color: rgba(202, 177, 117, 1);

}

#resend{

    font-size: 10px;
}
#navbar{
    background-color: rgba(202, 177, 117, 1);
}

@media only screen and (max-width:970px) {
    .lien{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
  }