{% extends 'base.html.twig' %}

{% block title %}Nouveau Paiement{% endblock %}

{% block body %}
    <h1>Créer un Paiement</h1>

    {{ include('admin_paiement/_form.html.twig') }}

    <a href="{{ path('admin_paiement_index') }}">Retour à la liste</a>
{% endblock %}
