{% extends 'base.html.twig' %}

{% block title %}Edit DetailCommande{% endblock %}

{% block body %}
    <h1>Detail des Commandes</h1>

    {{ include('admin_detail_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_detail_commande_index') }}">Retour à la liste</a>

    {{ include('admin_detail_commande/_delete_form.html.twig') }}
{% endblock %}
