{% extends 'base.html.twig' %}

{% block title %}Hello MlegalesController!{% endblock %}

{% block body %}
<div class=' container '>
<h2 class=' m-5 '>Mentions Légales</h2>

<h4>Propriétaire du site</h4>
<p>Nom et prénoms: SIDICINA Lincay
</p>
<p>Email: dicina@outlook.fr
</p>
<p>Téléphone: 0766675900
</p>
<p>Adresse postale de votre domicile: 7 rue du général 94000 Créteil
</p>
<h4>Coordonnés de l’hébergeur du site web
</h4>
<p>Adresse:
10 rue Penthièvre
<br>
75008 Paris
<br>
FRANCE</p>
<p>Téléphone: <br> France : 01 77 62 3003
<br>
International : +33 177 62 30 03</p>
</div>

{% endblock %}
