{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<p>Votre email à bien été envoyé, nous vous répondront dans les plus brefs délais</p>
{% endblock %}
