

<ul class="nav mt-5 footer ">
  <li class="nav-item">
    <a class="nav-link text-reset " href=" {{path('mlegales')}} ">Mentions légales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-reset " href=" {{path('pconfidentialite')}} ">Politique de confidentialité</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-reset " href=" {{path('cgu')}} ">Conditions Générales</a>
  </li>
  
</ul>